
.one {
    margin-bottom: 40px;
  }
  body
  {
   background-color:#7FFFD4;
   background:url("D:/websitedevops/website/shopnow1.jpg");
   background-size: cover;
  body,
  ul {
    border: 2px solid greenyellow;
    padding: .5em;
  }
  span,
  li {
    border: 2px solid greenyellow;
  }
  .block,
  li {
    border: 2px solid greenyellow;
    padding: .5em;
  }
  p,
  ul {
    border: 2px solid greenyellow;
    padding: .5em;
  }
  span,
  li {
    border: 2px solid greenyellow;
  }
  .block,
  li {
    border: 2px solid greenyellow;
    padding: .5em;
  }
  
  ul {
    display: flex;
    list-style: none;
  }
  
  .block {
    display: block;
  }